<h3>Workspaces</h3>

<form>
  {{input
    value=(readonly newWorkspaceName)
    placeholder="workspace name..."
    key-up=(action (mut newWorkspaceName))
  }}

  <button {{action 'submitWorkspace'}} disabled={{disableCreateNewWorkspace}}>Create new Workspace</button>
</form>

<ul>
  {{#each model.recentWorkspaces as |workspace|}}
    <li>{{workspace.label}}</li>
  {{/each}}
</ul>

{{outlet}}
